/* CSS declarations go here */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  padding: 0px;
  margin: 0px;

  font-size: 14px;
}

h1, h2, h3, nav li, .sidenav li {
  font-family: "Oswald", sans-serif;
}

.filter-questions label {
  margin-left: 25px;
}

/*
Tooltip styling
.backdrop{
  background-color: #fff;
} */

.webTextRed {
  color: rgb(249, 56, 34)!important;
}

.sidenav .fa {
  font-size: 20px;
  margin-right: 10px;
}

.qaPost {
  padding: 5px;
  padding-top: 35px;
}

.qaPost .text {
  margin-left: 10px;
}

.qaPost .fa {
  font-size: 20px;
  margin-left: 20px;
  padding: 10px 12px 10px 12px;
  background-color: rgb(249, 56, 34);
  color: #fff;
  border: 1px solid #fff;
}

.qaPost .fa:hover, .qaPost .activatedBtn {
  transition: 0.2s;
  transform: scale(1.05);
  cursor: pointer;
  color: rgb(249, 56, 34);
  background-color: #fff;
  border: 1px solid rgb(249, 56, 34);
}

.activatedBtn:hover {
  background-color: rgb(249, 56, 34)!important;
  color: #fff!important;
}

#dropdownDesktop li a {
  font-size: 15px;
}

nav ul li a:hover, #dropdownDesktop li a:hover {
  color: #fff!important;
}

nav ul li:hover, #dropdownDesktop li:hover {
  background-color: rgb(249, 56, 34)!important;
}

.badge { font-family: sans-serif; }

.container {
  width: 100%;
  min-width: 100%;
  margin: 0px auto;
  min-height: 100%;
  background: #fff;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0px;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-question input {
  box-sizing: border-box;
  padding: 10px 0px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-question input:focus{
  outline: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-question input {
    padding-bottom: 5px;
  }
}
